h1 {

}

nav{
    height: 240px;
}

nav ul{
    width: 100%;
}

nav ul li{
    width: 100%;
    position: static;
}

.pic {
    display: none;
}

.art-wrapper{
    width: 90%;
    margin: 0 auto;
}

.tiles {
    width: 100%;
}

.beer {
    width: 50%;
}

.speech-bubble {
    width: 50%;
}