body,html{height:100%}

body, p
{
	padding:0;
	margin:0;
	background-color:gray;
	min-width:960px;
	font-family: 'Josefin Sans', sans-serif;
	
}



#nav{
	background-color:#0C0E11;
	height:80px;
	padding:5px 0;
	width:100%;
	line-height:80px;
	
	min-width:960px;
	
}

#nav_wrapper{
	min-width: 960px;
	margin: 0 auto;
	text-align:center;
}

#nav ul
{
	padding:0;
	margin:0;
	font-size:35px;
}

#nav ul li
{
	display:inline-block;
	padding:0 30px;
	opacity:0.9;
	font-family: 'Josefin Sans', sans-serif;
}

#nav ul li a, visited
{
	display:block;
	color: white;
	text-decoration:none;
}

#nav ul li:hover
{
	background-color: #2C2E32;
	color:white;
	border-radius:10px;
	opacity:1;
}



#banner
{
	background-image:url(banner.jpg);
	background-position:left;
	height:450px;
	text-align:right;
	width:100%;
	
	min-width:960px;
	
	
}

#title
{
	font-family: 'Dosis', sans-serif;
	line-height:450px;
	font-size:70px;
	overflow:hidden;
	margin-right:180px;
	opacity:0.8;
}


/*------------------------*/

.bulbs
{
	border-top:5px solid black;
	border-bottom:5px solid black;
	height:400px;
	background-color:#343638;
	background-image:url(shat.gif);
	width:100%;
	
	min-width:960px;
}

#bulbs_wrapper
{
	margin:0;
	padding:0;
	
	padding-top:100px;
	text-align:center;
}

#holderONE
{
	height:200px;
	width:150px;
	
	display:inline-block;
	
	text-align:center;
	
}

.bulbONE
{
	margin:0;
	padding:0;
	background-color:#101010;
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	line-height:150px;
	
	color:#E7E7E7;
	font-size:80px;
	transition: all .7s ease;
}

.bulbONE:hover
{
	background-color:white;
	color:black;
	cursor:pointer;
	
}

#holderTWO
{
	height:200px;
	width:150px;
	
	display:inline-block;
	
	text-align:center;
	
	margin:0 200px;
}


.bulbTWO
{
	margin:0;
	padding:0;
	background-color:#101010;
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	line-height:150px;
	
	color:#E7E7E7;
	font-size:80px;
	
	transition: all .7s ease;
}

.bulbTWO:hover
{
	background-color:white;
	color:black;
	cursor:pointer;
	
}

#holderTHREE
{
	height:200px;
	width:150px;
	
	display:inline-block;
	
	text-align:center;
}


.bulbTHREE
{
	margin:0;
	padding:0;
	background-color:#101010;
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	line-height:150px;
	
	color:#E7E7E7;
	font-size:80px;
	
	transition: all .7s ease;
	
}

.bulbTHREE:hover
{
	background-color:white;
	color:black;
	cursor:pointer;
	
}

.caption
{
	color:white;
	font-size:24px;
}

/*-------------------------*/

.chapter
{
	border-bottom:5px solid black;
	height:auto;
	background-color:#141920;
	background-image:url(crissXcross/crissXcross.png);
	padding:30px;
}

#content_chapter
{
	
	width:960px;
	margin:0 auto;
	color:white;
	text-align:justify;
	
}

#content_chapter h3
{
	font-size:30px;
	font-weight:900;
}

#content_chapter p
{
	background:none;
	font-size:18px;
	font-family: 'Josefin Sans', sans-serif;
	
}

#footer
{
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:20px;
	background-position:bottom;
	background-image:url(banner.jpg);
}

#footer a,visited
{
	color:black;
	text-decoration:underline;
}
